### Use this notebook for your 3 choices of APIs

#### Basic Imports

In [160]:
import warnings
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup
from pandas.io.json import json_normalize

warnings.filterwarnings("ignore")

### Fake bank account details

This simples API provides standardized bank data, this could be usefull for an sample auto fill function component.

In [174]:
accounts = requests.get("https://api.generadordni.es/v2/bank/account?results=50")
print("rdmuser:", accounts.status_code)

rdmuser: 200

In [175]:
bank_df = pd.DataFrame(accounts.json())

In [176]:
bank_df.head()

,ccc,ccc_formatted,iban,iban_formatted,bic,entity
0,20808630570966369906,2080-8630-57-0966369906,ES6020808630570966369906,ES60 2080 8630 5709 6636 9906,CAGLESBB211,Abanca
1,20855404316426184789,2085-5404-31-6426184789,ES8420855404316426184789,ES84 2085 5404 3164 2618 4789,CAZRES2B448,Ibercaja
2,20804577555478818368,2080-4577-55-5478818368,ES2220804577555478818368,ES22 2080 4577 5554 7881 8368,CAGLES2B752,Abanca
3,00814069761553717115,0081-4069-76-1553717115,ES1300814069761553717115,ES13 0081 4069 7615 5371 7115,BSABESBB264,Banc Sabadell
4,20389583354746297439,2038-9583-35-4746297439,ES8520389583354746297439,ES85 2038 9583 3547 4629 7439,CAHMES2B745,Bankia

### Test data - Sample store

This API provides us with fake sample data of a web online store. One of the possibilities for a project with this API would be to provide on demand custom databases in mySQL using this datasets as tables for educational purposes.

In [129]:
list_categories = ['products', 'carts', 'users']
mock_store = []

j = 0
for i in list_categories:
    mock_store.append(requests.get('https://fakestoreapi.com/'+i))
    print(i, mock_store[j].status_code)
    j += 1

products 200
carts 200
users 200

In [130]:
for i in range(len(list_categories)):
    mock_store[i] = pd.json_normalize(mock_store[i].json())
    display(mock_store[i].head(2))

,id,title,price,description,category,image,rating.rate,rating.count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,3.9,120
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,4.1,259

,id,userId,date,products,__v
0,1,1,2020-03-02T00:00:02.000Z,"[{'productId': 1, 'quantity': 4}, {'productId'...",0
1,2,1,2020-01-02T00:00:02.000Z,"[{'productId': 2, 'quantity': 4}, {'productId'...",0

,id,email,username,password,phone,__v,address.geolocation.lat,address.geolocation.long,address.city,address.street,address.number,address.zipcode,name.firstname,name.lastname
0,1,john@gmail.com,johnd,m38rmF$,1-570-236-7033,0,-37.3159,81.1496,kilcoole,new road,7682,12926-3874,john,doe
1,2,morrison@gmail.com,mor_2314,83r5^_,1-570-236-7033,0,-37.3159,81.1496,kilcoole,Lovers Ln,7267,12926-3874,david,morrison

In [131]:
# Creating a tmp dataframe that will have all the orders/product details
tmp_df = pd.DataFrame()

# Creating a column for each of the products
for i in range(0,len(mock_store[0])):
    tmp_df['product_'+str(i+1)] = ''

# Creating rows with product quantities 
for i in mock_store[1]['products']:
    dict_tmp = {}
    for j in range(len(i)):
        dict_tmp['product_'+str(i[j]['productId'])] = i[j]['quantity']
    # appending the new row to the temp dataset
    tmp_df = tmp_df.append(dict_tmp, ignore_index=True)

# Assembling the final dataset with product columns treated
mock_store[1] = pd.concat([mock_store[1], tmp_df], axis = 1).drop(columns = 'products')

In [132]:
mock_store[1].head(2)

,id,userId,date,__v,product_1,product_2,product_3,product_4,product_5,product_6,...,product_11,product_12,product_13,product_14,product_15,product_16,product_17,product_18,product_19,product_20
0,1,1,2020-03-02T00:00:02.000Z,0,4,1,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2020-01-02T00:00:02.000Z,0,10,4,NaN,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1inch API

1inch API searchs smartchains in all major DeFi ecoystems for the best exchange rates. One really interesting project that could be implemented with it is a daily advisory bot for trading cryptoassets.

In [194]:
tokens = requests.get("https://api.1inch.io/v4.0/1/tokens")
print("tokens:", tokens.status_code)

tokens: 200

In [196]:
df = pd.DataFrame(tokens.json())
df.head()

                                                                                       tokens
0x0000000000004946c0e9f43f4dee607b0ef1fa1c  {'symbol': 'CHI', 'name': 'Chi Gastoken by 1in...
0x000000000000d0151e748d25b766e77efe2a6c83  {'symbol': 'XDEX', 'name': 'XDEFI Governance T...
0x0000000000085d4780b73119b644ae5ecd22b376  {'symbol': 'TUSD', 'name': 'TrueUSD', 'decimal...
0x0000000000095413afc295d19edeb1ad7b71c952  {'symbol': 'LON', 'name': 'Tokenlon', 'decimal...
0x0000000000b3f879cb30fe243b4dfee438691c04  {'symbol': 'GST2', 'name': 'Gastoken.io 2', 'd...

In [181]:
flattened_data = json_normalize(df['tokens'])
flattened_data

,symbol,name,decimals,address,logoURI,tags,eip2612,isFoT,displayedSymbol,synth,domainVersion
0,CHI,Chi Gastoken by 1inch,0,0x0000000000004946c0e9f43f4dee607b0ef1fa1c,https://tokens.1inch.io/0x0000000000004946c0e9...,[tokens],NaN,NaN,NaN,NaN,NaN
1,XDEX,XDEFI Governance Token,18,0x000000000000d0151e748d25b766e77efe2a6c83,https://tokens.1inch.io/0x000000000000d0151e74...,[tokens],NaN,NaN,NaN,NaN,NaN
2,TUSD,TrueUSD,18,0x0000000000085d4780b73119b644ae5ecd22b376,https://tokens.1inch.io/0x0000000000085d4780b7...,"[tokens, PEG:USD]",NaN,NaN,NaN,NaN,NaN
3,LON,Tokenlon,18,0x0000000000095413afc295d19edeb1ad7b71c952,https://tokens.1inch.io/0x0000000000095413afc2...,[tokens],True,NaN,NaN,NaN,NaN
4,GST2,Gastoken.io 2,2,0x0000000000b3f879cb30fe243b4dfee438691c04,https://tokens.1inch.io/0x0000000000b3f879cb30...,[tokens],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1020,ORBS,Orbs,18,0xff56cc6b1e6ded347aa0b7676c85ab0b3d08b0fa,https://tokens.1inch.io/0xff56cc6b1e6ded347aa0...,[tokens],NaN,NaN,NaN,NaN,NaN
1021,COOK,Cook Token,18,0xff75ced57419bcaebe5f05254983b013b0646ef5,https://tokens.1inch.io/0xff75ced57419bcaebe5f...,[tokens],NaN,NaN,NaN,NaN,NaN
1022,aAAVE,Aave interest bearing AAVE,18,0xffc97d72e13e01096502cb8eb52dee56f74dad7b,https://tokens.1inch.io/0xffc97d72e13e01096502...,[tokens],True,NaN,NaN,NaN,NaN
1023,COMBO,Furucombo,18,0xffffffff2ba8f66d4e51811c5190992176930278,https://tokens.1inch.io/0xffffffff2ba8f66d4e51...,[tokens],NaN,NaN,NaN,NaN,NaN
1024,FSW,FalconSwap Token,18,0xfffffffff15abf397da76f1dcc1a1604f45126db,https://tokens.1inch.io/0xfffffffff15abf397da7...,[tokens],NaN,NaN,NaN,NaN,NaN

### rijksmuseum API

rijksmuseum API is fantastic and provides all sorts of data like the distribuition of colors through a 32 color normalized palete that we can use to study the color tendencies of art through time.
Also agregated materials datasets, the possibiliteies are nearly endless!

In [ ]:
import requests
import pandas as pd
import json

# requesting the data
response = requests.get('https://www.rijksmuseum.nl/api/nl/collection?key=XRyrJ2PZ')

# Creating a objects dataframe.
# All tables are lists inside lists so we have to unpack them all one by one
df = pd.json_normalize(json.loads(response.text))
df2 = pd.json_normalize(df['artObjects'])
df3['objects'] = df2.T
objects_df = pd.json_normalize(df3['objects'])
display(objects_df.head())

# creating a dataframe with all defferent facets
df2 = pd.json_normalize(df['facets'])
df3['facets'] = df2.T
facets_df = pd.json_normalize(df3['facets']).T
facets_df.head(5)

# Second Iteration - Splicing each facet into his own data set
df_principalMaker = pd.json_normalize(facets_df[0]['facets'])
df_type = pd.json_normalize(facets_df[1]['facets'])
df_dating_period = pd.json_normalize(facets_df[2]['facets'])
df_place =pd.json_normalize(facets_df[3]['facets'])
df_material = pd.json_normalize(facets_df[4]['facets'])
df_technique = pd.json_normalize(facets_df[5]['facets'])
df_normalized32Colors = pd.json_normalize(facets_df[6]['facets'])